<h2 id="title">Testing ember-cli-mirage</h2>

<a  href="http://ryrych.github.io" {{action "testCustomPOST"}}>
    Click me to test custom POST action intercepted by ember-cli-mirage!
</a>

{{outlet}}
